.user__request {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 530px;
  outline: none;
  margin-bottom: 10px;
}

#dateInput {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.form__button img {
  object-fit: cover;
  margin-right: 4px;
}

.form__button {
  background-color: #9b59b6;
  color: #fff;
  border: 1px solid #9b59b6;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
}

input::-webkit-search-cancel-button:after {
  content: "X";
  position: absolute;
  tranform: translate(-50%, -50%);
}

input::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

.input_lbls {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 765px;
}

.datelabel {
  margin-right: 160px;
}

.smtask,
.smdate {
  display: none;
}

@media only screen and (max-width: 480px) {
  #dateInput {
    width: 100%;
    margin: 0;
  }

  .user__request {
    max-width: 100%;
  }

  .input_lbls {
    display: none;
  }

  .smtask,
  .smdate {
    display: block;
    max-width: 100%;
    text-align: start;
  }

  .form__button {
    margin: 10px 0;
    padding: 6px 18px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #dateInput {
    width: 100%;
    margin: 0;
  }

  .user__request {
    width: 100%;
  }

  .input_lbls {
    display: none;
  }

  .smtask,
  .smdate {
    display: block;
    max-width: 100%;
    text-align: start;
  }

  .form__button {
    margin: 10px 0;
    padding: 6px 18px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #dateInput {
    width: 100%;
    margin: 0;
  }

  .user__request {
    width: 100%;
  }

  .input_lbls {
    display: none;
  }

  .smtask,
  .smdate {
    display: block;
    max-width: 100%;
    text-align: start;
  }

  .form__button {
    margin: 10px 0;
    padding: 6px 18px;
  }
}
