.todo__list {
  list-style: none;
  color: black;
  max-width: 770px;
  margin: 0 auto;
  padding-left: 0px;
}

.todo__list li {
  display: flex;
  align-items: center;
}

.todo__list li .editIcon {
  cursor: pointer;
  padding: 12px;
  color: rgb(98, 98, 255);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.todo__list li .deleteIcon {
  cursor: pointer;
  padding: 12px;
  color: rgb(255, 82, 82);
}

#check {
  margin: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task {
  font-size: 12px;
  padding: 12px;
  border-radius: 0;
  flex: 1;
  border: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  text-align: justify;
  margin-bottom: 0;
}

.todo__list li {
  margin-top: 1px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}

.todo__list li:first-child {
  border-top-left-radius: 5px;
}

.todo__list li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.completed {
  text-decoration: line-through;
  background: #d3d1d1;
  opacity: 0.5;
}

.date__box {
  max-width: 100%;
  margin: 0 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  padding: 10px;
}

.overdue__date {
  background-color: #eb5a46;
  color: #fff;
}

.leftfordue__date {
  background-color: #61bd4f;
  color: #fff;
}

p {
  max-width: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate:hover,
.truncate:focus {
  white-space: normal;
  overflow: visible;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .todo__list {
    max-width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .todo__list {
    max-width: 100%;
  }
}
